<p> Bienvenido a Index de Notas </p>
<p><% @notes.inspect %></p> <!--Preguntar para qué sirve ese inspect-->

<ul>
<% @notes.each do |note| %>
  <li><a href="/notes/<%= note.id %>"><%= note.name %></a></li>

<% end %>
</ul>

<a href="/notes/new">Crea un notica</a>
